body{
    color: #444;
    padding: 20px;
}
#main{
    padding: 10px;
    background-color: #ddd;
}
#title{
    text-align: center;
    font-size: 45px;
}
#img-div{
    text-align: center;
    padding: 10px;
    background-color: #fff;
}
#image{
    width: 100%;
    max-width: 1024px;
}